<div class="flex gap-8 mb-10 p-3">
	<div>
		<img src="{{logo}}" class="rounded-[20px]" />
	</div>
	<div>
		<a href="{{url}}" target="_blank" class="font-semibold text-lg text-slate-800 hover:text-[#2032FF]">{{name}}</a>
		<div class="mt-2 text-sm mb-3">
			<ion-icon name="star" class="text-orange-500"></ion-icon>
			{{rating}}/6 <span class="text-gray-500 pl-1">({{totalVotes}})</span>
		</div>
		<div class="text-sm mb-3">
			<ion-icon name="time-outline" class="relative top-[5px] pr-1" style="height:20px;width:20px;"></ion-icon>
			{{delivery.RangeLower}} - {{delivery.RangeUpper}} mins
		</div>
		<div class="text-sm font text-slate-600 mb-3">
			<ion-icon name="fast-food-outline" style="height:20px;width:20px" class="relative top-[5px] text-sm text-slate-800 pr-1"></ion-icon>
			<span *ngFor="let food of foods" class="pr-1">
				<button (click)="addFoodFilter($event)" class="hover:text-[#2032FF]" *ngIf="food.Name != 'Low Delivery Fee' && food.Name != 'Free Delivery'" value="{{food.Name}}">{{food.Name}};</button>
			</span>
		</div>
		<div class="text-sm text-slate-800 mb-3">
			<ion-icon name="cash-outline" class="relative top-[5px] pr-1" style="height:20px;width:20px;"></ion-icon>
			Delivery cost: <strong>{{fee}}</strong> £
		</div>
		<div *ngFor="let promotion of promotions" class="text-sm text-slate-800">
			<ion-icon name="pricetags" class="relative top-[5px] pr-1" style="height:20px;width:20px;"></ion-icon>
			{{promotion.Description}}	
		</div>
	</div>
</div>