<div class="max-w-6xl mx-auto" id="home-hero">
	<div class="mt-10 md:mt-32 text-center md:text-left md:grid md:grid-cols-2 block gap-4">
		<div>
			<div class="md:flex md:items-center gap-2"  data-aos="fade-down" data-aos-delay="600" data-aos-duration="500">
				<ion-icon class="rounded-full bg-green-200 text-green-600" name="checkmark-outline"></ion-icon>
				<span class="text-sm font-bold text-[#18113c]">Most trusted delivery platform</span>
			</div>
			<div>
				<h1 class="text-5xl font-semibold tracking-tight leading-tight text-[#18113c]" data-aos="fade-down" data-aos-delay="400" data-aos-duration="500"> Tuck into a <br> takeaway today </h1>
				<p class="text-sm text-gray-600 mt-4 leading-relaxed" data-aos="fade-down" data-aos-delay="200" data-aos-duration="500">
					 Find restaurants delivering right now, near. Manĝi is a leading global online food delivery marketplace, connecting consumers with over 680,000 partners in 22 countries.
				</p>
			</div>
		</div>
		<div class="relative hidden md:block" style="z-index:-99" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="1200">
			<img src="/assets/images/Hero.png" style="z-index:-1" class="block scale-[1.4] absolute left-[90px]" />
		</div>
	</div>
	<app-hero-search></app-hero-search>
</div>