/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
	min-height: 100vh!important;
	overflow-y: auto!important;
	scroll-behavior: smooth!important;
}

.mangi-text-blue {
	color: #2032FF;
}

.mangi-bg-blue {
	background-color:  #2032FF;
}

.search-shadow {
	box-shadow: 0 .125rem .125rem -.125rem rgba(31,27,45,.08),0 .25rem .75rem rgba(31,27,45,.08);
}

.step-shadow {
	box-shadow: 0 1px 2px rgba(21,30,40,.07),0 2px 4px rgba(21,30,40,.07),0 4px 8px rgba(21,30,40,.07),0 8px 16px rgba(21,30,40,.07),0 16px 32px rgba(21,30,40,.07),0 32px 64px rgba(21,30,40,.07) !important;;
}

@media screen and (min-width: 860px) {
	.step::before {
		border-bottom: 2px solid #2032FF;
		content: "";
		left: 95px;
		margin: 5px 80px;
		position: absolute;
		right: 0;
		top: 1rem;
		width: 200px;
	}  
}