<div class="mt-10 bg-gray-100" id="home-reviews">
	<div class="max-w-6xl mx-auto">
		<div class="py-20">
			<div class="text-center md:text-left text-base">
				<strong class="text-[#18113c]">4.5/5.0</strong> 
				<span class="pl-[5px] pr-3 relative top-[1px]">
					<ion-icon class="text-orange-500" name="star"></ion-icon>
					<ion-icon class="text-orange-500" name="star"></ion-icon>
					<ion-icon class="text-orange-500" name="star"></ion-icon>
					<ion-icon class="text-orange-500" name="star"></ion-icon>
					<ion-icon class="text-orange-500" name="star-half"></ion-icon>
				</span>
				<span class="text-slate-700 text-sm">(Based on 1.6M ratings)</span>
			</div>
			<div class="text-center md:text-left md:grid md:grid-cols-2">
				<div>
					<h2 class="text-[#18113c] font-semibold tracking-tight text-3xl">What our customers say</h2>
					<p class="text-gray-600 text-sm">
						Hear from teachers, trainers, and leaders in the learning space <br> about how Geeks empowers them to provide quality online learning experiences.
					</p>
				</div>
				<div class="text-center mt-10 md:mt-0">
					<a href="#" class="text-white font-semibold py-3 px-7 rounded-lg mangi-bg-blue hover:bg-blue-800">All reviews</a>
				</div>
			</div>
			<div class="md:w-full md:grid md:grid-cols-3 mt-12 gap-10">
				<div class="md:hover:scale-[1.05] md:transition md:duration-300 md:hover:shadow-lg hover:cursor-pointer">
					<div class="border rounded-lg bg-white shadow-sm p-10 text-center">
						<div class="rounded-full" style="margin: 0 auto;width:3.5rem;height:3.5rem;background-image:url('/assets/images/avatars/avatar_1.jpg');background-size:100%;"></div>
						<p class="text-slate-800 text-sm py-6">“The generated lorem Ipsum is therefore always free from repetition, injected humour, or words etc generate lorem Ipsum which looks racteristic.”</p>
						<span class="pl-[5px] pr-3 relative top-[1px]">
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star-half"></ion-icon>
						</span>
						<div class="font-semibold text-[#18113c]">Gladys Colbert</div>
					</div>
				</div>
				<div class="md:hover:scale-[1.05] md:transition md:duration-300 md:hover:shadow-lg md:hover:cursor-pointer">
					<div class="rounded-lg bg-white shadow-sm p-10 text-center">
						<div class="border rounded-full" style="margin: 0 auto;width:3.5rem;height:3.5rem;background-image:url('/assets/images/avatars/avatar_2.jpg');background-size:100%;"></div>
						<p class="text-slate-800 text-sm py-6">“Praesent aliquet diam a ligula imperdiet commodo. Donec eleifend, orci et accumsan interdum ipsum leo porta velit <br> a placerat neque ex id est.”</p>
						<span class="pl-[5px] pr-3 relative top-[1px]">
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
						</span>
						<div class="font-semibold text-[#18113c]">Leigh F. Keller</div>
					</div>
				</div>
				<div class="md:hover:scale-[1.05] md:transition md:duration-300 md:hover:shadow-lg md:hover:cursor-pointer">
					<div class="border rounded-lg bg-white shadow-sm p-10 text-center">
						<div class="rounded-full" style="margin: 0 auto;width:3.5rem;height:3.5rem;background-image:url('/assets/images/avatars/avatar_3.jpg');background-size:100%;"></div>
						<p class="text-slate-800 text-sm py-6">“Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin nec justo risus. Quisque ornare nisl eu mi fermentum”</p>
						<span class="pl-[5px] pr-3 relative top-[1px]">
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
							<ion-icon class="text-orange-500" name="star"></ion-icon>
						</span>
						<div class="font-semibold text-[#18113c]">Tom L. Smith</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>