<div class="max-w-6xl mx-auto mt-[50px]" id="home-stats">
	<div class="md:grid md:grid-cols-4 md:border-t md:border-b">
		<div class="p-10 text-center border-r">
			<div><ion-icon name="restaurant-outline" class="text-indigo-400" style="height:40px;width:40px;"></ion-icon></div>
			<div class="py-2 text-[#18113c] text-2xl font-semibold">300,000+</div>
			<div class="text-sm text-gray-600">Locations available</div>
		</div>
		<div class="p-10 text-center border-r">
			<div><ion-icon name="people-outline" class="text-orange-400" style="height:40px;width:40px;"></ion-icon></div>
			<div class="py-2 text-[#18113c] text-2xl font-semibold">65 Million+</div>
			<div class="text-sm text-gray-600">Active costumers</div>
		</div>
		<div class="p-10 text-center border-r">
			<div><ion-icon name="star-outline" class="text-red-400" style="height:40px;width:40px;"></ion-icon></div>
			<div class="py-2 text-[#18113c] text-2xl font-semibold">15+ Million</div>
			<div class="text-sm text-gray-600">Reviews by our users</div>
		</div>
		<div class="p-10 text-center">
			<div><ion-icon name="map-outline" class="text-green-400" style="height:40px;width:40px;"></ion-icon></div>
			<div class="py-2 text-[#18113c] text-2xl font-semibold">34</div>
			<div class="text-sm text-gray-600">Available countries</div>
		</div>
	</div>
</div>