<div class="max-w-6xl mx-auto pt-16" id="footer">
	<div class="md:flex md:justify-between md:gap-32 pb-6 border-b">
		<div class="w-full md:w-1/3">
			<div class="table mx-auto md:mx-0 md:w-full md:flex md:items-center md:gap-3">
				<img src="/assets/Logo.svg" class="relative left-[10px] md:left-[0px]" style="height:35px;" />
				<span class="text-2xl text-slate-800 font-semibold tracking-tight">Manĝi</span>
			</div>
			<p class="text-center px-6 md:px-0 md:text-left mt-6 text-sm text-slate-800">Manĝi (meaning "to eat" in Esperanto) is a leading global online food delivery marketplace, connecting consumers with over 680,000 partners in 22 countries.</p>
			<div class="text-center md:text-left md:flex md:gap-3 mt-6">
				<a href="javascript:void(0)" class="pr-5 md:pr-0 text-slate-800 hover:text-[#2032FF]">
					<ion-icon name="logo-facebook"></ion-icon>
				</a>
				<a href="javascript:void(0)" class="pr-5 md:pr-0 text-slate-800 hover:text-[#2032FF]">
					<ion-icon name="logo-twitter"></ion-icon>
				</a>
				<a href="javascript:void(0)" class="pr-5 md:pr-0 text-slate-800 hover:text-[#2032FF]">
					<ion-icon name="logo-instagram"></ion-icon>
				</a>
			</div>
		</div>
		<div class="w-full md:w-2/3">
			<div class="grid grid-cols-3">
				<div>
					<h3 class="text-xl font-semibold text-[#18113c]">Company</h3>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">About</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Pricing</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Blog</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Careers</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Contact</a></div>
				</div>
				<div>
					<h3 class="text-xl font-semibold text-[#18113c]">Support</h3>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Help and Support</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Become an embassador</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Get the app</a></div>
					<div class="pb-[4px]"><a href="javascript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">FAQ's</a></div>
					<div class="pb-[4px]"><a href="javasscript:void(0)" class="text-slate-800 text-sm hover:text-[#2032FF]">Tutorial</a></div>
				</div>
				<div>
					<h3 class="text-xl font-semibold text-[#18113c]">Get in touch</h3>
					<p class="text-slate-800 text-sm mt-4">Rua do Comércio do Porto 201, Porto, Portugal</p>
					<p class="mt-4 text-slate-800 text-sm">Email: <span class="mangi-text-blue">support@mangi.com</span></p>
					<p class="mt-2 text-slate-800 text-sm">Phone: <strong class="text-base">(+351) 22 545 055</strong></p>

					<div class="flex justify-between items-center mt-4">
						<a href="javascript:void(0)"><img src="/assets/images/appstore.svg" style="width:120px;" /></a>
						<a href="javascript:void(0)"><img src="/assets/images/playstore.svg" style="width:120px" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="md:flex md:justify-between md:items-center pt-6 pb-2">
		<div class="text-slate-800 text-sm text-center md:text-left mb-6 md:mb-0">
			&copy; 2022 Manĝi, Inc. All Rights Reserved.
		</div>
		<div class="flex gap-10">
			<a href="javascript:void(0)" class="text-xs md:text-sm text-slate-800 hover:text-[#2032FF]">Privacy Policy</a>
			<a href="javascript:void(0)" class="text-xs md:text-sm text-slate-800 hover:text-[#2032FF]">Cookie Notice</a>
			<a href="javascript:void(0)" class="text-xs md:text-sm text-slate-800 hover:text-[#2032FF]">Do Not Sell My Personal Information</a>
			<a href="javascript:void(0)" class="text-xs md:text-sm text-slate-800 hover:text-[#2032FF]">Terms of Use</a>
		</div>
	</div>
</div>