<div class="max-w-7xl mx-auto py-6" data-aos="fade-down" data-aos-duration="700">
	<div class="flex justify-between">
		<div class="flex justify-center sm:block">
			<a routerLink="/" class="flex items-center gap-3">
				<img src="/assets/Logo.svg" style="height:35px;" />
				<span class="text-2xl text-slate-800 font-semibold tracking-tight">Manĝi</span>
			</a>
		</div>
		<div class="hidden md:flex md:gap-12">
			<a href="#home-steps" class="font-medium text-gray-700 hover:text-[#2032FF]">How it works</a>
			<a href="#home-stats" class="font-medium text-gray-700 hover:text-[#2032FF]">About Manĝi</a>
			<a href="#home-reviews" class="font-medium text-gray-700 hover:text-[#2032FF]">Reviews</a>
			<a href="#footer" class="font-medium text-gray-700 hover:text-[#2032FF]">Contact</a>
		</div>
		<div>
			<a href="#home-hero" class="table px-6 py-2 rounded-lg mangi-bg-blue text-white font-semibold transition duration-300 hover:scale-[1.03] hover:shadow-lg">Find a restaurant</a>
		</div>
	</div>
</div>