<div class="max-w-7xl mx-auto mt-16 mb-12">
	<div class="text-center md:text-left">
		<app-skeleton [style.display]="!isLoading ? 'none': 'block'"></app-skeleton>
		<h1 [style.display]="isLoading ? 'none': 'block'" class="text-xl font-semibold text-[#18113c] mb-6">Results for {{data.Area}}, {{data.MetaData.CanonicalName}} </h1>
	</div>
	<div *ngIf="filteredFoods.length>0">
		<h4 class="text-lg text-slate-800 mb-4">Filters:</h4>
		<span *ngFor="let food of filteredFoods" class="bg-blue-200 text-sm font-semibold rounded-full py-3 pl-3 pr-5 mr-2">
			<button (click)="removeFoodFilter(food)" class="hover:text-[#2032FF]">
				<ion-icon name="close-outline" style="height:20px;width:20px;" class="relative top-[4px]"></ion-icon> 
			</button>
			{{food}}
		</span>
	</div>
	<div class="mt-12" [style.display]="!isLoading ? 'none': 'block'">
		<div class="grid grid-cols-3">
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
			<app-skeleton></app-skeleton>
		</div>
	</div>
	<div [style.display]="isLoading ? 'none': 'block'">
		<h3 class="text-lg text-[#18113c] mt-10">{{openRestaurants.length}} open restaurants</h3>
		<div class="mt-6 md:grid md:grid-cols-3 md:gap-6">
			<div *ngFor="let restaurant of openRestaurants.slice(0, limit)">
				<app-restaurant-card
				name="{{restaurant.Name}}"
				url="{{restaurant.Url}}"
				rating="{{restaurant.RatingAverage}}"
				totalVotes="{{restaurant.NumberOfRatings}}"
				logo="{{restaurant.LogoUrl}}"
				[foods]="restaurant.CuisineTypes"
				[delivery]="restaurant.DeliveryEtaMinutes"
				fee="{{restaurant.DeliveryCost}}"
				[promotions]="restaurant.Deals"
				[filteredFoods]="filteredFoods"
				[refreshFilter]="refreshFilter"
				>
				</app-restaurant-card>
			</div>
		</div>
		<div class="flex justify-center">
				<button *ngIf="limit <= openRestaurants.length" (click)="addLimit()" class="px-8 text-sm py-3 bg-gray-800 hover:bg-gray-900 rounded-full text-white font-semibold">Show More</button>
			</div>
	</div>

</div>