<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#2032FF" type = "fire" [fullScreen] = "true"><p style="color: white" > Detecting location... </p></ngx-spinner>
<div class="mt-6" data-aos="fade-down" data-aos-duration="500" style="z-index:10">
	<div class="py-5 pl-5 pr-2 md:w-2/3 bg-white rounded-full search-shadow border">
		<div class="flex justify-between items-center gap-3">
			<div class="flex items-center gap-2 flex-grow">
				<ion-icon name="search-outline" class="text-[#9691a4]" style="height:25px;width:25px;"></ion-icon>
				<input type="text" #postcode class="w-full bg-transparent text-gray-800 focus:outline-none focus:shadow-none" placeholder="Enter you postcode here. E.g: EC4M, EC1A, E1, DY4, etc." (keypress)="$event.keyCode == 13 ? searchRestaurant($event) : null" />
			</div>
			<div>
				<a href="javascript:void(0)" (click)="searchRestaurant({target : { value : postcode.value }})" class="text-white mangi-bg-blue font-semibold rounded-full px-4 py-3 hover:bg-blue-800">Find a place</a>
			</div>
		</div>
	</div>
	<div class="text-center md:text-left mt-6 ml-2 text-sm">
		<ion-icon name="location-outline" class="text-slate-800 pr-1 relative top-[1px]" style="height:20px;width:20px;"></ion-icon> <a href="javascript:void(0)" (click)="getUserLocation()" class="text-sm font-medium text-slate-800 hover:text-[#2032FF]">Use my GPS location</a>
	</div>
	<div *ngIf="displayMessage" class="max-w-lg mt-4 flex gap-3 items-center p-3 rounded-lg bg-blue-200">
		<div class="text-blue-700">
			<ion-icon name="warning" class="pl-1 relative top-[2px]" style="height:20px;width:20px;"></ion-icon>
		</div>
		<div class="text-blue-700 font-medium text-sm">
			We <strong class="text-blue-900">could not</strong> find any restaurants in your area.
		</div>
	</div>
</div>