<div class="max-w-4xl mx-auto mt-16 md:mt-[160px]" id="home-steps" data-aos="fade-up" data-aos-delay="600" data-aos-duration="500">
  <h1 class="block text-center text-3xl text-[#18113c] font-semibold">How It Works</h1>
  <div class="text-center">
    <div class="md:grid md:gap-24 mt-10 md:grid-cols-3">
      <div class="relative mb-8 md:mb-0">
        <div style="margin: 0 auto;" class="step text-center w-[50px] h-[50px] step-shadow rounded-full border border-[#2032FF]">
          <span class="relative top-[10px] text-xl mangi-text-blue">1</span>
        </div>
        <h3 class="pt-4 text-xl font-medium text-[#18113c]">Insert your outcode</h3>
        <p class="pt-2 text-slate-800 text-sm">Fill the search bar with your outcode, and Manĝi will do the rest.</p>
      </div>
      <div class="relative mb-8 md:mb-0">
        <div style="margin: 0 auto;" class="step text-center w-[50px] h-[50px] step-shadow rounded-full border border-[#2032FF]">
          <span class="relative top-[10px] text-xl mangi-text-blue">2</span>
        </div>
        <h3 class="pt-4 text-xl font-medium text-[#18113c]">Select the restaurants</h3>
        <p class="pt-2 text-slate-800 text-sm">Search through all the restaurants open near you.</p>
      </div>
      <div>
        <div style="margin: 0 auto;" class="text-center w-[50px] h-[50px] step-shadow rounded-full border border-[#2032FF]">
          <span class="relative top-[10px] text-xl mangi-text-blue">3</span>
        </div>
        <h3 class="pt-4 text-xl font-medium text-[#18113c]">Make a choice</h3>
        <p class="pt-2 text-slate-800 text-sm">Make the best choice based on the food, costumer reviews and restaurant rating.</p>
      </div>
    </div>
  </div>
</div>